.custom-menu .ant-menu-item {
  color: white !important;
}

.custom-menu .ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: #fff !important;
}

.custom-menu .ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: #fff !important;
}
