@import "tailwindcss";
@import "./antdLayout.css";

@theme {
  --color-primary: #ffaa2d;
  --color-accent: #2b74f5;
  --color-mainBG: #0c0c0c;
  --color-secondaryBG: #1D1D1D;
  --color-tableBG: #242424;
  --color-highlight: #212121;
  --color-accentBG: #424242;
  --color-expense: #DF4C4D;
  --color-income: #00C782;
  --color-textmain: #FEFEFE;
  --color-textsecondary: #B5AEAE;

  --font-sans: var(--font-poppins), sans-serif;

  --text-10: 10px;
  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-18: 18px;
  --text-20: 20px;
  --text-24: 24px;
  --text-32: 32px;
}

/* globals.css */
body, .ant-layout, .ant-menu {
  font-family: 'Poppins', sans-serif;
}
