/* Main visible select box */
.custom-select .ant-select-selector {
  background: transparent !important;
  border: 1px solid #ffaa2d !important;
  padding: 0.5rem 1rem;
  width: 120px !important;
  border-radius: 2rem !important;
  color: #ffaa2d; /* yellow text */
  height: 2.5rem;
}

/* Selected text */
.custom-select .ant-select-selection-item {
  color: #ffaa2d !important;
  font-weight: 500;
  width: 100px !important;
}

/* Dropdown popup */
.ant-select-dropdown {
  background-color: var(--bg-secondaryBG, #2a2a2a) !important;
  border-radius: 0.5rem;
  color: #ddd !important;
}

/* Active & hovered item */
.ant-select-item-option-active {
  background-color: #ffaa2d !important;
  color: white !important;
}

/* Selected item */
.ant-select-item-option-selected {
  background-color: #ffaa2d !important;
  color: white !important;
}

/* Arrow icon */
.custom-select .ant-select-arrow {
  color: #ffaa2d; /* yellow arrow */
}
